<%
  result_qty = @profiles.count
  filtro_categoria = params[:categoria]
%>

<body>
  <%= render "app_components/header", classes: "bg-primary text-light flat", right_buttons: [:options] %>

  <!-- App Capsule -->
  <div id="appCapsule" class="mt-3 mb-5">
    <div class="tab-content mt-1">

      <div class="header-large-title">
        <h1 class="title">Minha lista (<%= result_qty %>)</h1>
        <!-- Filter -->
        <h4 class="subtitle">
          <% if filtro_categoria.present? %>
          <%= @profiles.first.sub_categ.name %> -
          <a href="<%= bookmarks_path %>" class="text-primary">
            ver tudo
          </a>
          <% else %>
          <a href="#" class="dropdown-toggle text-primary" data-toggle="dropdown">
            Filtrar por categoria
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <% @filtros.each do |filtro| %>
            <a href="<%= bookmarks_path categoria: filtro[1] %>" class="dropdown-item">
              <%= filtro[0] %>
            </a>
            <% end %>
          </div>
          <% end %>
        </h4>
        <!-- * Filter -->
      </div>

      <!-- Profile Results -->
      <% if result_qty > 0 %>
      <ul class="listview image-listview media search-result mt-2 mb-2">
        <% @profiles.each do |profile| %>
          <%= render 'catalogo/search_result', profile: profile %>
        <% end %>
      </ul>
      <%= will_paginate @profiles, page_links: false, renderer: WillPaginateInfinite::InfinitePagination %>

      <% else %>
      <div class="section align-center mt-2">
        <img src="https://mobilekit.bragherstudio.com/view6/assets/img/sample/photo/vector1.png" alt="alt" class="imaged square w240 align-center">
        <a href="<%= catalogo_path %>" class="btn btn-primary btn-md btn-block mt-3">Ver Catálogo</a>
      </div>
      <% end %>
      <!-- * Profile Results -->

    </div>
  </div>
  <!-- * App Capsule -->

</body>