<!-- Action Sheet Statistics -->
<div class="modal fade action-sheet" id="action-sheet-statistics" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Estatísticas</h5>
      </div>
      <div class="modal-body">
        <ul class="action-button-list">
          <li>
            <a href="#" class="btn btn-list">
              <span><ion-icon name="eye-outline"></ion-icon>Visitas no perfil</span>
              <span class="text-muted"><%= Statistic.where(profile: profile).perfil_view.count %></span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-list">
              <span><ion-icon name="bookmark-outline"></ion-icon>Salvo em listas</span>
              <span class="text-muted"><%= Bookmark.where(profile: profile).count %></span>
            </a>
          </li>
          <% if profile.whatsapp.present? || profile.phone_secondary.present? %>
          <li>
            <a href="#" class="btn btn-list">
              <span><ion-icon name="logo-whatsapp"></ion-icon>Cliques no telefone</span>
              <span class="text-muted"><%= Statistic.where(profile: profile).phone_click.count %></span>
            </a>
          </li>
          <% end %>
          <% if profile.instagram_account.present? %>
          <li>
            <a href="#" class="btn btn-list">
              <span><ion-icon name="logo-instagram"></ion-icon>Cliques no Instagram</span>
              <span class="text-muted"><%= Statistic.where(profile: profile).instagram_click.count %></span>
            </a>
          </li>
          <% end %>
          <li>
            <a href="#" class="btn btn-list">
              <span><ion-icon name="share-social-outline"></ion-icon>Compartilhamentos</span>
              <span class="text-muted"><%= Statistic.where(profile: profile).compartilhar_click.count %></span>
            </a>
          </li>

          <li class="action-divider"></li>
          <li>
            <a href="#" data-dismiss="modal" class="btn btn-list">
            <span><ion-icon name="close-outline"></ion-icon>Fechar</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- * Action Sheet Statistics -->