<% delivery = profile.delivery %>
<!-- Dialog Delivery -->
<div class="modal fade dialogbox" id="dialog-delivery" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cobertura de entrega</h5>
      </div>
      <div class="modal-body align-left mt-2">
        <p class="font-13">
          <% if delivery.has_bairros? %>
            <%
              bairros = delivery.bairros
              centro = bairros.select{|b| b.centro?}
              serra = bairros.select{|b| b.serra?}
              norte = bairros.select{|b| b.norte?}
              sul = bairros.select{|b| b.sul?}
            %>
            <%= "<strong>Centro</strong><br/>#{centro.map{|b| b.name}.join(", ")}<br/>".html_safe if centro.present? %>
            <%= "<strong>Serra</strong><br/>#{serra.map{|b| b.name}.join(", ")}<br/>".html_safe if serra.present? %>
            <%= "<strong>Norte</strong><br/>#{norte.map{|b| b.name}.join(", ")}<br/>".html_safe if norte.present? %>
            <%= "<strong>Sul</strong><br/>#{sul.map{|b| b.name}.join(", ")}<br/>".html_safe if sul.present? %>

          <% elsif profile.address.present? %>
            <%= "#{profile.address.bairro.name} e imediações." %>
          <% else %>
            Não informado
          <% end %>

          <strong class="display-block text-primary mt-2">
            <% if delivery.delivery_fee.blank? %>
            Consulte a taxa de entrega
            <% elsif delivery.delivery_fee == 0 %>
            Entrega Grátis!
            <% else %>
            Taxa de entrega: <%= mask_money(delivery.delivery_fee) %>
            <% end %>
          </strong>
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-inline">
          <a href="#" class="btn btn-text-primary" data-dismiss="modal">Fechar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Dialog Delivery -->