<%
  sub_categ = profile.sub_categ
  bairro = profile.bairro
%>
<li class="click-animated">
  <a href="<%= profile.profile_path %>" class="item vibrate">
    <div class="imageWrapper">
      <img src="<%= profile.avatar_url %>" alt="image" class="imaged w64">
    </div>
    <div class="in">
      <div>
        <%= profile.title %>
        <%= verified_badge_for profile %>
        <div class="text-muted">
          <%= profile.tagline %>
          <% if sub_categ.ativo? || bairro.present? %>
          <div>
            <small>
              <%= bairro.name if bairro.present? %>
              <%= "&nbsp;>&nbsp;".html_safe if bairro.present? && sub_categ.ativo? %>
              <%= sub_categ.name if sub_categ.ativo? %>
            </small>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </a>
</li>