<li class="click-animated">
  <a href="<%= profile_path profile %>" class="item vibrate">
    <div class="imageWrapper">
      <img src="<%= profile.avatar_url %>" alt="image" class="imaged w64">
    </div>
    <div class="in">
      <div>
        <%= profile.title %>
        <div class="text-muted">
          <%= profile.tagline %>
          <% if profile.sub_categ.try(:ativo?) %>
          <div>
            <small>
              <%= "#{profile.sub_categ.categ.name}&nbsp;>&nbsp;#{profile.sub_categ.name}".html_safe %></small>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </a>
</li>