<li class="click-animated">
  <a href="<%= profile_path profile %>" class="item vibrate" onclick="trackProfile(<%= profile.id %>, <%= Statistic.events[:perfil_view] %>);">
    <div class="imageWrapper">
      <img src="<%= profile.avatar_url %>" alt="image" class="imaged w64">
    </div>
    <div class="in">
      <div>
        <%= profile.title %>
        <div class="text-muted">
          <%= profile.tagline %>
          <div><small>Categoria&nbsp;>&nbsp;Subcategoria</small></div>
        </div>
      </div>
    </div>
  </a>
</li>