<body>
  <%= render "app_components/header", title: "editar perfil", classes: "bg-primary text-light flat", left_button: :back, back_link: profile_path(@profile.username), right_buttons: [:options] %>

  <%= render("app_components/toast_notification", id: "toast-feature-update", text: FlashMessages::PROFILE_UPDATE_ERROR, color: "danger") %>

  <!-- Tabs Header -->
  <div id="tabs-header" class="extraHeader p-0">
    <ul class="nav nav-tabs lined" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="tab-header-negocio" data-toggle="tab" href="#tab-negocio" role="tab" aria-selected="true">
          Meu negócio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-header-config" data-toggle="tab" href="#tab-config" role="tab" aria-selected="false">
          Configurações
        </a>
      </li>
    </ul>
  </div>

  <!-- App Capsule -->
  <div id="appCapsule" class="extra-header-active mt-3 mb-6">
    <div class="tab-content mt-1">

      <!-- Tab: Negócio -->
      <div class="tab-pane fade active show" id="tab-negocio" role="tabpanel">
        <div class="section full mb-2">
          <div class="section">
              <% completion_rate = @profile.completion_progress %>
              <%= progress_bar completion_rate, "Seu perfil está quase copleto", true, "progress-sm" %>
            </div>

          <div class="accordion mt-2" id="accordion-parent">
            <!-- * Accordion: Profile -->
            <div class="item">
              <div class="accordion-header">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-profile" aria-expanded="false">
                  <ion-icon name="person-circle-outline" role="img" class="md hydrated"></ion-icon>
                  Página do negócio
                </button>
              </div>
              <div id="accordion-profile" class="accordion-body collapse" data-parent="#accordion-parent" style="">
                <div class="accordion-content">
                  <div class="wide-block pb-2 pt-2">
                    <%= form_with model: @profile, url: update_profile_path(@profile), class: "form-sm" do |f| %>

                      <% if current_admin? %>
                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="sub_categ_id">Categoria*</label>
                          <%= f.collection_select(:sub_categ_id, SubCateg.ativo.all, :id, :name, {include_blank: 'Selecione uma categoria (obrigatório)'}, {class: 'form-control custom-select', required: true}) %>
                        </div>
                      </div>
                      <% end %>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="username">Username*</label>
                          <%= f.text_field :username, class: "form-control", placeholder: "obrigatório", maxlength: Profile::USERNAME_MAX_LENGTH, required: true, autocomplete: "off", onkeyup: "updateTextFromInput(this, '#username-example');" %>
                        </div>
                        <div class="input-info"><%= "#{unmask_url Ubatubatem::Application.config.root_url}/<strong id='username-example' class='text-primary'>#{@profile.username || username}</strong>".html_safe %></div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="title">Nome do negócio*</label>
                          <%= f.text_field :title, class: "form-control", placeholder: "obrigatório", required: true, maxlength: Profile::TITLE_MAX_LENGTH, autocomplete: "off" %>
                        </div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="tagline">Slogan do negócio*</label>
                          <%= f.text_field :tagline, class: "form-control", placeholder: "obrigatório", required: true, maxlength: Profile::TAGLINE_MAX_LENGTH, autocomplete: "off" %>
                        </div>
                        <div class="input-info">Ex: Pães artesanais de fermentação natural</div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="bio">Bio</label>
                          <%= f.text_area :bio, rows: 4, class: "form-control", placeholder: "", maxlength: Profile::BIO_MAX_LENGTH, autocomplete: "off" %>
                        </div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="whatsapp">WhatsApp</label>
                          <%= f.telephone_field :whatsapp, class: "form-control", placeholder: "recomendado", autocomplete: "off" %>
                          <div class="input-info">Clientes poderão lhe enviar mensagens via WhatsApp</div>
                          <script type="text/javascript">
                            $("#profile_whatsapp").mask("(00) 00000-0000");
                          </script>
                        </div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="phone_secondary">Telefone comercial</label>
                          <%= f.telephone_field :phone_secondary, class: "form-control", placeholder: "", autocomplete: "off" %>
                          <script type="text/javascript">
                            $("#profile_phone_secondary").mask("(00) 00000-0000");
                          </script>
                        </div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="website">Website</label>
                          <%= f.text_field :website, class: "form-control", placeholder: "", autocomplete: "off" %>
                        </div>
                      </div>

                      <div class="form-group boxed">
                        <div class="input-wrapper">
                          <label class="label" for="website">Quantas pessoas trabalham no negócio?</label>
                          <%= f.number_field :employees_qty, class: "form-control", placeholder: "", autocomplete: "off" %>
                        </div>
                      </div>

                      <!-- Submit button -->
                      <div class="fab-button with-fixed-bottom text bottom-center sm">
                        <input type="submit" class="fab border-none bg-primary" value="Salvar alterações">
                      </div>

                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- * Accordion: Profile -->

            <!-- Accordion: Instagram -->
            <div class="item">
              <div class="accordion-header">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-instagram">
                  <ion-icon name="logo-instagram" role="img" class="md hydrated"></ion-icon>
                  Instagram
                  <% if @profile.instagram_account.try(:username).blank? %>
                  <span class="badge badge-danger badge-empty"></span>
                  <% end %>
                </button>
              </div>
              <div id="accordion-instagram" class="accordion-body collapse" data-parent="#accordion-parent">
                <div class="accordion-content">
                  <div class="wide-block pb-2 pt-2">
                    <%= form_with model: @profile, url: update_profile_path(@profile), class: "form-sm" do |f| %>

                      <!-- update avatar_url when instagram scrapping request is done -->
                      <%= f.hidden_field :avatar_url, id: "profile_avatar_url" %>

                      <%= f.fields_for :instagram_account do |iaf| %>
                        <div class="form-group boxed">
                          <div class="input-wrapper">
                            <label class="label" for="username">Usuário Instagram</label>
                            <%= iaf.text_field :username, class: "form-control", placeholder: "recomendado", maxlength: InstagramAccount::USERNAME_MAX_LENGTH, autocomplete: "off", onkeyup: "updateTextFromInput(this,'#instagram-user-example');", onchange: "scrapDataFromInstagram(this)"; %>
                            <div class="input-info">
                              www.instagram.com/<strong id="instagram-user-example" class="text-primary"><%= @profile.try(:instagram_account).try(:username) || "usuario" %></strong>
                            </div>
                          </div>
                        </div>

                        <div class="section full mt-1 font-12 bg-white">
                          <div class="row">
                            <div id="instagram-container" class="instagram_feed"></div>
                          </div>
                        </div>
                      <% end %>

                      <!-- Submit button -->
                      <div class="fab-button with-fixed-bottom text bottom-center sm">
                        <input type="submit" class="fab border-none bg-primary" value="Salvar alterações">
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- * Accordion: Instagram -->

            <!-- Accordion: Address -->
            <div class="item">
              <div class="accordion-header">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-address">
                  <ion-icon name="location-outline" role="img" class="md hydrated"></ion-icon>
                  Endereço
                  <% if @profile.address.try(:bairro).blank? %>
                  <span class="badge badge-danger badge-empty"></span>
                  <% end %>
                </button>
              </div>
              <div id="accordion-address" class="accordion-body collapse" data-parent="#accordion-parent">
                <div class="accordion-content">
                  <div class="wide-block pb-2 pt-2">
                    <%= form_with model: @profile, url: update_profile_path(@profile), class: "form-sm" do |f| %>
                      <%= f.fields_for :address do |af| %>

                        <div class="form-group boxed">
                          <div class="input-wrapper">
                            <label class="label" for="bairro_id">Bairro*</label>
                            <%= af.collection_select(:bairro_id, Bairro.order_by_name, :id, :name, {include_blank: 'Selecione o bairro (obrigatório)'}, {class: 'form-control custom-select', required: true}) %>
                          </div>
                        </div>

                        <div class="form-group boxed">
                          <div class="input-wrapper">
                            <label class="label" for="logradouro">Logradouro</label>
                            <%= af.text_field :logradouro, class: "form-control", placeholder: "Rua, avenida, praça, etc.", autocomplete: "off" %>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group boxed">
                              <div class="input-wrapper">
                                <label class="label" for="numero">Número</label>
                                <%= af.text_field :numero, class: "form-control", placeholder: "", autocomplete: "off" %>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group boxed">
                              <div class="input-wrapper">
                                <label class="label" for="complemento">Complemento</label>
                                <%= af.text_field :complemento, class: "form-control", placeholder: "", autocomplete: "off" %>
                              </div>
                            </div>
                          </div>
                        </div>

                      <% end %>
                      <!-- Submit button -->
                      <div class="fab-button with-fixed-bottom text bottom-center sm">
                        <input type="submit" class="fab border-none bg-primary" value="Salvar alterações">
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- * Accordion: Address -->

            <!-- Accordion: Horarios -->
            <div class="item">
              <div class="accordion-header">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-horarios">
                  <ion-icon name="time-outline" role="img" class="md hydrated"></ion-icon>
                  Horário de funcionamento
                  <% if @profile.opening_hours.blank? %>
                  <span class="badge badge-danger badge-empty"></span>
                  <% end %>
                </button>
              </div>
              <div id="accordion-horarios" class="accordion-body collapse" data-parent="#accordion-parent">
                <div class="accordion-content">
                  <div class="wide-block pb-2 pt-2">
                    <%= form_with model: @profile, url: update_profile_path(@profile), class: "form-sm form-no-clean" do |f| %>
                      <%= f.fields_for :opening_hours do |ohf| %>

                      <div class="card mb-3">
                        <div class="card-header weight-6 <%= ohf.object.closed? ? 'text-danger' : 'text-primary' %>">
                          <%= "#{OpeningHour.day_to_s(ohf.object.day)}  #{ohf.object.closed? ? '(fechado)' : ''}" %>
                          <%= ohf.hidden_field :day %>
                        </div>
                        <div class="card-body pt-1 pb-1">
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group boxed">
                                <div class="input-wrapper">
                                  <label class="label" for="opens_at">Abre às</label>
                                  <%= ohf.time_field :opens_at, class: "form-control", required: true, autocomplete: "off" %>
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group boxed">
                                <div class="input-wrapper">
                                  <label class="label" for="closes_at">Fecha às</label>
                                  <%= ohf.time_field :closes_at, class: "form-control", required: true, autocomplete: "off" %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <ul class="listview listview-sm simple-listview border-none">
                            <li class="padding-none">
                              <div>Fechado hoje?</div>
                              <div class="custom-control custom-switch">
                                <%= ohf.check_box :closed, class: "custom-control-input danger" %>
                                <%= ohf.label :closed, "&nbsp;".html_safe, class: "custom-control-label danger" %>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <% end %>
                      <!-- Submit button -->
                      <div class="fab-button with-fixed-bottom text bottom-center sm">
                        <input type="submit" class="fab border-none bg-primary" value="Salvar alterações">
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- * Accordion: Horarios -->

            <!-- Accordion: SearchTags -->
            <div class="item">
              <div class="accordion-header">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-searchtags">
                  <ion-icon name="search-outline" role="img" class="md hydrated"></ion-icon>
                  Termos de busca
                  <% if @profile.search_tags.blank? %>
                  <span class="badge badge-danger badge-empty"></span>
                  <% end %>
                </button>
              </div>
              <div id="accordion-searchtags" class="accordion-body collapse" data-parent="#accordion-parent">
                <div class="accordion-content">
                  <div class="wide-block pb-2 pt-2">
                    <%= form_with model: @profile, url: update_profile_path(@profile), class: "form-sm" do |f| %>
                      <span class="font-13 text-primary">Quando as pessoas buscarem por alguma dessas palavras, seu perfil irá aparecer.</span>
                      <div class="form-group boxed mt-1">
                        <div class="input-wrapper">
                          <label class="label" for="logradouro">Digite as palavras-chave separadas por vírgula</label>
                          <%= f.text_area :search_tags, rows: 3, class: "form-control", placeholder: "palavra 1, palavra 2, palavra 3, etc.", maxlength: Profile::SEARCH_TAGS_MAX_LENGTH, autocomplete: "off" %>
                          <div class="input-info">Ex: pizzaria, pizzas, esfirras, vegetariano, jantar, itaguá </div>
                        </div>
                      </div>

                      <!-- Submit button -->
                      <div class="fab-button with-fixed-bottom text bottom-center sm">
                        <input type="submit" class="fab border-none bg-primary" value="Salvar alterações">
                      </div>

                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- * Accordion: SearchTags -->

          </div>
        </div>
      </div>
      <!-- * Tab: Negócio -->



      <!-- Tab: Configuracoes -->
      <div class="tab-pane fade" id="tab-config" role="tabpanel">

        <% categ = @profile.sub_categ.try(:categ) %>

        <%= form_with model: @profile.feature, url: update_feature_path(@profile), class: "form-sm form-no-clean" do |f| %>

          <div class="listview-title">Geral</div>
          <ul class="listview simple-listview font-13">
            <li>
              <div>Faço entregas Delivery</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :delivery, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_delivery"></label>
              </div>
            </li>
            <li>
              <div>Possuo ponto comercial</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :ponto_comercial, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_ponto_comercial"></label>
              </div>
            </li>
            <li>
              <div>Não utilizo embalagens plásticas</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :plastico, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_plastico"></label>
              </div>
            </li>
            <li>
              <div>Meus fornecedores são produtores locais</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :produtor_local, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_produtor_local"></label>
              </div>
            </li>
            <li>
              <div>Vendo produtos para maiores de 18 anos</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :restricao_etaria, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_restricao_etaria"></label>
              </div>
            </li>
          </ul>

          <% if @profile.is_alimentacao? || true  %>
          <div class="listview-title mt-2">Alimentação</div>
          <ul class="listview simple-listview font-13">
            <li>
              <div>Ofereço produtos vegetarianos</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :vegetariano, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_vegetariano"></label>
              </div>
            </li>
            <li>
              <div>Ofereço produtos veganos</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :vegano, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_vegano"></label>
              </div>
            </li>
            <li>
              <div>Ofereço produtos 100% naturais</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :natural, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_natural"></label>
              </div>
            </li>
            <li>
              <div>Ofereço produtos sem gúten</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :gluten, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_gluten"></label>
              </div>
            </li>
            <li>
              <div>Ofereço produtos sem lactose</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :lactose, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_lactose"></label>
              </div>
            </li>
            <li>
              <div>Ofereço produtos sem açúcares</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :diabetico, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_diabetico"></label>
              </div>
            </li>
            <% end %>
          </ul>

          <% if @profile.is_moda? || true  %>
          <div class="listview-title mt-2">Moda</div>
          <ul class="listview simple-listview font-13">
            <li>
              <div>Ofereço produtos Plus Size</div>
              <div class="custom-control custom-switch">
                <%= f.check_box :plus_size, class: "custom-control-input" %>
                <label class="custom-control-label feature" for="feature_plus_size"></label>
              </div>
            </li>
          </ul>
          <% end %>

        <% end %>
      </div>
      <!-- * Tab: Configuracoes -->

    </div>
  </div>
  <!-- * App Capsule -->

</body>

<script type="text/javascript">

$(document).ready(function () {

  // Mixpanel
  mp_track("<%= MixPanel::PROFILE_EDIT_VIEW %>", {
    "param_user_id": "<%= @profile.id %>",
    "param_username": "<%= @profile.username %>"
  });

  // Update Features on Toggle change
  $(".custom-control-input.feature").change(function(e){
    var checkBoxElement = $(e.target);
    var key = checkBoxElement.attr("id").replace("feature_", "");
    var value = checkBoxElement.is(":checked");
    var data = {feature: {}};
    data['feature'][key] = value

    $.ajax({
      type: 'PATCH',
      url: '<%= update_feature_path @profile.feature %>',
      contentType: 'application/json',
      data: JSON.stringify(data),
    }).done(function () {

    }).fail(function (msg) {
      toastbox('toast-feature-update', 3000);
    });
  })

  // For instagram account validation
  scrapDataFromInstagram = function(input) {
    var username = $(input).val();
    if(username.length > 2) {
      showInstagramProfile(username, '#instagram-container');
    }
  }

  // For better typing experience on mobile
  $(".form-control").focus(function(e) {
    $(".appBottomMenu").hide();
    $("#tabs-header").hide();
    $(".fab-button").each(function(index) {
      $(this).removeClass("with-fixed-bottom");
    })
    $("input[type=submit]").each(function(index) {
      $(this).removeClass("bg-primary");
      $(this).addClass("bg-secondary");
      $(this).val("OK");
    })
  });
  $(".form-control").blur(function(e) {
    $(".appBottomMenu").show();
    $("#tabs-header").show();
    $(".fab-button").each(function(index) {
      $(this).addClass("with-fixed-bottom");
    })
    $("input[type=submit]").each(function(index) {
      $(this).removeClass("bg-secondary");
      $(this).addClass("bg-primary");
      $(this).val("Salvar alterações");
    })
  });

  // Active tabs
  <% if params[:tab].present? %>
    $("#tab-<%= params[:tab] %>").click();
  <% end %>

  <% if params[:list].present? %>
    $("#list-<%= params[:list] %>").click();
  <% end %>

});
</script>