<body>

  <%= render "app_components/header", classes: "bg-primary text-light flat", right_buttons: [:options] %>

  <!-- App Capsule -->
  <div id="appCapsule" class="mb-5">

    <!-- Section Busca -->
    <div class="section full pb-2 mb-3 bg-primary">
      <div class="section">
        <%= render "app_components/search_form", query: @query, classes: "border-none", size: "sm" %>
      </div>
    </div>

    <!-- Search Results -->
    <% if @profiles.count > 0 %>
    <div class="listview-title mt-1">
      <div><%= pluralize(@profiles.count, "resultado", "resultados") %> para <strong class="text-primary">"<%= @query %>"</strong></div>
    </div>
    <ul class="listview image-listview media search-result mb-2">
      <% @profiles.each do |profile| %>
        <%= render 'search_result', profile: profile %>
      <% end %>
    </ul>
    <%= will_paginate @profiles, renderer: WillPaginateInfinite::InfinitePagination %>

    <% else %>

      <% if @query.present? %>
      <div class="listview-title">
        <div>Nenhum resultado encontrado para <strong class="text-primary">"<%= @query %>"</strong></div>
      </div>
      <% end %>

    <!-- Suggestions -->
    <div class="section mt-2">
      <a href="#" class="chip bg-white chip-outline">
        <span class="chip-label">sushi</span>
      </a>
      <a href="#" class="chip bg-white chip-outline">
        <span class="chip-label">pães</span>
      </a>
      <a href="#" class="chip bg-white chip-outline">
        <span class="chip-label">crochê</span>
      </a>
      <a href="#" class="chip bg-white chip-outline">
        <span class="chip-label">doces</span>
      </a>
      <a href="#" class="chip bg-white chip-outline">
        <span class="chip-label">artesanato</span>
      </a>
    </div>

    <% end %>


  </div>
  <!-- * App Capsule -->

</body>