<body>

  <%= render 'app_components/loader' %>
  <%= render 'app_components/menu_bottom' %>
  <%= render 'app_components/header' %>


  <!-- App Capsule -->
  <div id="appCapsule" class="mb-5">

    <!-- Section Busca -->
    <div class="section full mt-1">
      <div class="section">
        <form class="search-form" action="<%= buscar_path %>" autocomplete="off">
          <div class="form-group boxed">
            <div class="input-wrapper">
              <input type="text" name="q" class="form-control" style="border-radius:100px; border-color:#cecece; font-size:13px;" placeholder="O que procura?" value="<%= @query %>">
              <i class="clear-input">
                <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
              </i>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="listview-title mt-1">
      <div>
        <%= pluralize(@profiles.count, "resultado", "resultados") %> para <strong class="text-primary">"<%= @query %>"</strong>
      </div>
    </div>
    <ul class="listview image-listview media search-result mb-2">
      <% @profiles.each do |profile| %>
        <%= render 'search_result', profile: profile %>
      <% end %>
    </ul>

    <%= will_paginate @profiles, renderer: WillPaginateInfinite::InfinitePagination %>

  </div>
  <!-- * App Capsule -->

</body>