<% @tag_title = "#{@profile.title} - #{@profile.tagline} | #{@profile.address.present? ? @profile.address.bairro.name+', ' : ''}Ubatuba-SP" %>
<% @tag_description = "Conheça #{Profile.count} pequenos negócios com o charme de Ubatuba-SP." %>

<body>

  <%= render "app_components/header", classes: "bg-primary text-light flat", left_button: :back, right_buttons: [:share_profile, :options_profile] %>
  <%= render("dialog_delivery", profile: @profile) if @profile.delivery.present? && @profile.delivery.has_bairros? %>
  <%= render("dialog_whatsapp", profile: @profile) if @profile.whatsapp.present? %>
  <%= render("dialog_address", address: @profile.address) if @profile.address.present? %>
  <%= render("dialog_horarios", profile: @profile) if @profile.opening_hours.present? %>
  <%= render("dialog_avatar", image_src: @profile.avatar_url) %>
  <%= render("action_sheet_statistics", profile: @profile) if current_user? @profile.user %>
  <%= render("app_components/toast_notification", id: "toast-salvar", text: "Salvo na minha lista", color: "primary") %>


  <!-- App Capsule -->
  <div id="appCapsule" class="mt-3 mb-5">

    <!-- Bio -->
    <div class="section mb-1">
      <div class="profile-head">
        <div class="avatar">
          <a href="#" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:foto_click] %>);" data-toggle="modal" data-target="#dialog-avatar">
            <%= image_tag @profile.avatar_url, class: "imaged w64 rounded", id:"profile-avatar" %>
          </a>
        </div>
        <div class="in">
          <h3 class="name">
            <%= @profile.title %>
            <%= verified_badge_for @profile %>
          </h3>
          <h5 class="subtext"><%= @profile.tagline %></h5>
        </div>
      </div>
    </div>

    <div class="section mt-1">
    <%= render "app_components/breadcrumb_profile", profile: @profile %>
    </div>

    <% if @profile.bio.present? %>
    <div class="section mt-1">
      <div class="profile-info">
        <div class="bio">
          <%= add_breaklines(remove_emojis @profile.bio) %>
        </div>
      </div>
    </div>
    <% end %>
    <!-- * Bio -->

    <!-- Call to Actions -->
    <div class="section mt-2">
      <div class="row">
      <% if current_user? @profile.user %>
        <div class="col-6">
          <a href="#">
            <button type="button" class="btn btn-block btn-sm btn-primary vibrate">Editar perfil</button>
          </a>
        </div>
        <div class="col-6">
          <a href="#" data-toggle="modal" data-target="#action-sheet-statistics">
            <button type="button" class="btn btn-block btn-sm btn-outline-primary">Estatísticas</button>
          </a>
        </div>
        <div class="mt-1" style="display: none;">
          <% completion_rate = @profile.completion_progress %>
          <%= progress_bar completion_rate, "Faltam algumas informações no seu perfil", true, "progress-sm" %>
        </div>
      <% else %>
        <% if @profile.whatsapp.present? %>
        <div class="col-6">
          <a href="#" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#dialog-whatsapp" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:phone_click] %>);">
            <ion-icon name="logo-whatsapp" role="img" class="md hydrated"></ion-icon>WhatsApp
          </a>
        </div>
        <% end %>
        <div class="col-6">
          <a href="#" class="btn btn-outline-primary btn-sm btn-block vibrate" onclick="toastbox('toast-salvar', 3000);">
            <ion-icon name="bookmark-outline" role="img" class="md hydrated"></ion-icon>
            Salvar
          </a>
        </div>
      <% end %>
      </div>
    </div>
    <!-- * Call To Actions -->

    <!-- Link List -->
    <div class="section full mt-3">
      <ul class="listview listview-sm image-listview">
        <% if current_admin? %>
        <li>
          <a href="<%= "#{trestle_path}/profiles/#{@profile.id}" %>" target="_blank" class="item">
            <div class="icon-box">
              <ion-icon name="key-outline"></ion-icon>
            </div>
            <div class="in">
              <div class="text-primary">Editar como administrador</div>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.delivery.present? %>
        <% delivery_info = @profile.delivery.has_bairros? %>
        <li>
          <a href="#" class="item" <%= delivery_info ? "data-toggle=modal data-target=#dialog-delivery" : "" %> >
            <div class="icon-box">
              <ion-icon name="bicycle-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_delivery_mode @profile.delivery %></div>
              <% if delivery_info %>
              <span class="text-muted">cobertura</span>
              <% end %>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.opening_hours.present? %>
        <li>
          <a href="#" class="item" data-toggle="modal" data-target="#dialog-horarios">
            <div class="icon-box">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_opening_hours @profile %></div>
              <span class="text-muted">horários</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.address.present? %>
        <li>
        <a href="#" class="item" data-toggle="modal" data-target="#dialog-address" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:address_click] %>);">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_address @profile.address %></div>
              <span class="text-muted">mapa</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.instagram_account.present? %>
        <li>
          <a href="<%= "https://www.instagram.com/#{@profile.instagram_account.username}" %>" target="_system" class="item" rel="noopener" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:instagram_click] %>);">
            <div class="icon-box">
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <div class="in">
              <div><%= "@#{@profile.instagram_account.username}" %></div>
              <span class="text-muted">instagram</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.website.present? %>
        <li>
          <a href="<%= mask_url @profile.website %>" target="_blank" class="item" rel="nofollow" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:link_click] %>);">
            <div class="icon-box">
              <ion-icon name="link-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= unmask_url @profile.website %></div>
              <span class="text-muted">site</span>
            </div>
          </a>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- Photos -->
    <div class="section full mt-3 pt-2 pb-2 pr-2 pl-2 bg-white">
      <div class="row">
        <div id="instagram-feed" class="instagram_feed" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:foto_click] %>);"></div>
      </div>
    </div>
    <!-- * Photos -->

  </div>
  <!-- * App Capsule -->


</body>

<%#= javascript_include_tag 'InstagramFeed.min', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  (function($){
    $(window).on('load', function(){
      $.instagramFeed({
        'username': '<%= @profile.instagram_account.username %>',
        'container': "#instagram-feed",
        'display_profile': false,
        'display_biography': false,
        'display_gallery': true,
        'callback': null,
        'styling': true,
        'items': 12,
        'items_per_row': 3,
        'image_size': 150,
        'margin': 1.2
        });
      });

  })(jQuery);
</script>
