<body>

  <%= render 'app_components/loader' %>
  <%= render 'app_components/menu_bottom' %>
  <%= render 'app_components/header' %>


  <!-- Action Sheet Share -->
  <div class="modal fade action-sheet inset" id="action-sheet-share" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Compartilhar</h5>
        </div>
        <div class="modal-body">
          <ul class="action-button-list">
            <li>
              <a href="#" class="btn btn-list" data-dismiss="modal">
                <span><ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-list" data-dismiss="modal">
                <span><ion-icon name="logo-instagram"></ion-icon>Instagram</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-list" data-dismiss="modal">
                <span><ion-icon name="logo-facebook"></ion-icon>Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-list" data-dismiss="modal">
                <span><ion-icon name="logo-twitter"></ion-icon>Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-list" data-dismiss="modal">
                <span><ion-icon name="copy-outline"></ion-icon>Copiar link</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- * Action Sheet Share -->

  <!-- Action Sheet Comment -->
  <div class="modal fade action-sheet" id="action-sheet-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Escreva o seu comentário</h5>
        </div>
        <div class="modal-body">
          <div class="action-sheet-content">
            <form>
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="name3">Nome</label>
                  <input type="text" class="form-control" id="name"
                  placeholder="Seu nome">
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                </div>
              </div>

              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="comment">Comentário</label>
                  <textarea type="text" class="form-control" id="comment"
                  placeholder="Seu comentário"></textarea>
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                </div>
              </div>
              <div class="form-group basic">
                <button type="button" class="btn btn-primary btn-block btn-sm"
                data-dismiss="modal">Publicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- * Action Sheet Comment -->

  <!-- Dialog Delivery -->
  <div class="modal fade dialogbox" id="dialog-delivery" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Regiões de entrega</h5>
        </div>
        <div class="modal-body align-left">
          <p class="font-13">
            Praia Grande, Itaguá, Centro, Estufa I, Estufa II, Jardim Carolina, Perequê Açu
            <strong class="display-block mt-2">Taxa de entrega: R$ 4</strong>
          </p>
        </div>
        <div class="modal-footer">
          <div class="btn-inline">
            <a href="#" class="btn btn-text-primary" data-dismiss="modal">Fechar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- * Dialog Delivery -->

  <!-- Dialog Horários -->
  <div class="modal fade dialogbox" id="dialog-horarios" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Horários de funcionamento</h5>
        </div>
        <div class="modal-body mb-2 align-left">
          <ul class="font-13">
            <li>Segunda: 8h às 20h</li>
            <li>Terça: 8h às 20h</li>
            <li>Quarta: 8h às 20h</li>
            <li>Quinta: 8h às 20h</li>
            <li>Sexta: 8h às 20h</li>
            <li>Sábado: 8h às 20h</li>
            <li>Domingo: fechado</li>
          </ul>
        </div>
        <div class="modal-footer">
          <div class="btn-inline">
            <a href="#" class="btn btn-text-primary" data-dismiss="modal">Fechar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- * Dialog Horários -->

  <%= render("dialog_whatsapp", profile: @profile) if @profile.whatsapp.present? %>

  <%= render("dialog_address", address: @profile.address) if @profile.address.present? %>

  <div class="modal fade dialogbox" id="dialog-avatar" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content align-center">
        <img src="<%= @profile.avatar_url %>" alt="image" class="imaged w160">
        <div class="modal-footer">
          <div class="btn-inline">
            <a href="#" class="btn btn-text-primary" data-dismiss="modal">Fechar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= toast_success("toast-salvar", "Salvo na minha lista") %>

  <!-- App Capsule -->
  <div id="appCapsule">

    <div class="section mt-2">
      <div class="profile-head">
        <div class="avatar">
          <%= image_tag @profile.avatar_url, class: "imaged w64 rounded", 'data-toggle':"modal", 'data-target': "#dialog-avatar" %>
        </div>
        <div class="in">
          <h3 class="name"><%= @profile.title %></h3>
          <h5 class="subtext"><%= @profile.tagline %></h5>
        </div>
      </div>
    </div>

    <div class="section mt-2 mb-2">
      <div class="profile-info">
        <div class="bio">
          <%= @profile.bio %>
        </div>
      </div>
    </div>

    <div class="section full mt-3">
      <ul class="listview listview-sm image-listview">
        <% if @profile.whatsapp.present? %>
        <li>
          <a href="#" class="item" data-toggle="modal" data-target="#dialog-whatsapp">
            <div class="icon-box">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
            <div class="in">
              <div><%= mask_phone @profile.whatsapp %></div>
              <span class="text-muted">whatsapp</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.address.present? %>
        <li>
          <a href="#" class="item" data-toggle="modal" data-target="#dialog-address">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_address @profile.address %></div>
              <span class="text-muted">mapa</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.delivery.present? %>
        <li>
          <a href="#" class="item" data-toggle="modal" data-target="#dialog-delivery">
            <div class="icon-box">
              <ion-icon name="bicycle-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_delivery_mode @profile.delivery %></div>
              <span class="text-muted">locais de entrega</span>
            </div>
          </a>
        </li>
        <% end %>
        <li>
          <a href="#" class="item" data-toggle="modal" data-target="#dialog-horarios">
            <div class="icon-box">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="in">
              <div>Aberto hoje - 08h às 20h</div>
              <span class="text-muted">ver horários</span>
            </div>
          </a>
        </li>
        <% if @profile.instagram_account.present? %>
        <li>
          <a href="<%= "https://www.instagram.com/#{@profile.instagram_account.username}" %>" target="_system" class="item">
            <div class="icon-box">
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <div class="in">
              <div><%= "@#{@profile.instagram_account.username}" %></div>
              <span class="text-muted">instagram</span>
            </div>
          </a>
        </li>
        <% end %>
        <!-- <li>
          <a href="javascript:;" onclick="toastbox('toast-salvar', 3000);" class="item">
            <div class="icon-box">
              <ion-icon name="bookmark-outline"></ion-icon>
            </div>
            <div class="in">
              <div>Salvar na minha lista</div>
            </div>
          </a>
        </li> -->
      </ul>
    </div>


    <div class="section full mt-3 bg-white">
      <div class="wide-block transparent p-0">
        <ul class="nav nav-tabs lined iconed" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
              <ion-icon name="camera-outline"></ion-icon>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
              <ion-icon name="chatbox-outline"></ion-icon>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
              <ion-icon name="analytics-outline"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <!-- tab content -->
    <div class="section full mb-2">
      <div class="tab-content">

        <!-- TAB1: fotos -->
        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
          <div class="mt-2 pr-2 pl-2">
            <div class="row">
              <% @instagram_scrap[:pictures].each do |picture| %>
              <div class="col-4 mb-2">
                <a href="<%= picture[:original] %>" target="_system">
                  <img src="<%= picture[:thumbnail] %>" alt="image" class="imaged w-100">
                </a>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- * TAB1 -->

        <!-- * TAB2: comentários -->
        <!-- <div class="tab-pane fade" id="tab2" role="tabpanel">
          <div class="section full mt-2 mb-2">
            <div class="section-title">2 Comentários</div>
            <div class="wide-block border-none pt-2 pb-2">

              <div class="comment-block">
                <div class="item">
                  <div class="avatar">
                    <img src="https://picsum.photos/32" alt="avatar" class="imaged w32 rounded">
                  </div>
                  <div class="in">
                    <div class="comment-header">
                      <h4 class="title">Diego Morata</h4>
                      <span class="time">há 2 dias</span>
                    </div>
                    <div class="text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="comment-footer">
                      <a href="javascript:;" class="comment-button">
                        <ion-icon name="heart-outline"></ion-icon>
                        Curtir (2)
                      </a>
                      <a href="javascript:;" class="comment-button">
                        <ion-icon name="flag-outline"></ion-icon>
                        Denunciar
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="avatar">
                    <img src="https://picsum.photos/32" alt="avatar" class="imaged w32 rounded">
                  </div>
                  <div class="in">
                    <div class="comment-header">
                      <h4 class="title">Henry Itondo</h4>
                      <span class="time">há 5 dias</span>
                    </div>
                    <div class="text">
                      Sed laoreet leo eget maximus ultricies. Nunc vitae enim facilisis tortor aliquet
                      ullamcorper
                      nec at tortor.
                    </div>
                    <div class="comment-footer">
                      <a href="javascript:;" class="comment-button">
                        <ion-icon name="heart" class="text-danger"></ion-icon>
                        Curtiu (4)
                      </a>
                      <a href="javascript:;" class="comment-button">
                        <ion-icon name="flag-outline"></ion-icon>
                        Denunciar
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="section mt-2 mb-4">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#action-sheet-comment">Escrever comentário</button>
            </div>

          </div>
        </div> -->
        <!-- * friends -->

        <!-- settings -->
        <div class="tab-pane fade" id="tab3" role="tabpanel">
          <ul class="listview image-listview text flush transparent pt-1">
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Visualizações</div>
                  <span class="text-muted">68</span>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Salvo em listas</div>
                  <span class="text-muted">12</span>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Mensagens por WhatsApp</div>
                  <span class="text-muted">6</span>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Visitas no Instagram</div>
                  <span class="text-muted">6</span>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Compartilhamentos</div>
                  <span class="text-muted">2</span>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Comentários</div>
                  <span class="text-muted">2</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- * settings -->
      </div>
    </div>
    <!-- * tab content -->

  </div>
  <!-- * App Capsule -->


  <!-- ///////////// Js Files ////////////////////  -->
  <%= javascript_include_tag 'jquery-3.4.1.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'base.js', 'data-turbolinks-track': 'reload' %>
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

</body>
