<body>

  <%= render "app_components/loader" %>
  <%= render "app_components/menu_bottom" %>
  <%= render "app_components/header", right_button: "share" %>
  <%= render "app_components/share", profile: @profile %>

  <%= render("dialog_delivery", profile: @profile) if @profile.delivery.present? %>
  <%= render("dialog_whatsapp", profile: @profile) if @profile.whatsapp.present? %>
  <%= render("dialog_address", address: @profile.address) if @profile.address.present? %>
  <%= render("dialog_horarios") %>
  <%= toast_notification("toast-salvar", "success", "Salvo na minha lista") %>
  <%= toast_notification("toast-copy-to-clipboard", "primary", "Copiado para área de transferência") %>

  <!-- App Capsule -->
  <div id="appCapsule">

    <div class="section mt-2">
      <div class="profile-head">
        <div class="avatar">
          <a href="<%= @instagram_scrap[:avatar_url_large] %>" target="_system" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:foto_click] %>);">
            <%= image_tag @profile.avatar_url, class: "imaged w64 rounded" %>
          </a>
        </div>
        <div class="in">
          <h3 class="name"><%= @profile.title %></h3>
          <h5 class="subtext"><%= @profile.tagline %></h5>
        </div>
      </div>
    </div>

    <div class="section mt-1">
      <nav aria-label="breadcrumb">
        <small>
          <a href="#">Categoria</a>
          <span>&nbsp;>&nbsp;</span>
          <a href="#" aria-current="page"><%= LeadExcel.find_by_instagram(@profile.instagram_account.username).try(:categoria).try(:camelize) || "Subcategoria" %></a>
        </small>
      </nav>
    </div>

    <div class="section mt-1 mb-2">
      <div class="profile-info">
        <div class="bio">
          <%= add_breaklines(remove_emojis @profile.bio) %>
        </div>
      </div>
    </div>

    <div class="section full mt-3">
      <ul class="listview listview-sm image-listview">
        <% if @profile.whatsapp.present? %>
        <li>
          <a href="javascript:;" class="item" data-toggle="modal" data-target="#dialog-whatsapp" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:phone_click] %>);">
            <div class="icon-box">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
            <div class="in">
              <div><%= mask_phone @profile.whatsapp %></div>
              <span class="text-muted">whatsapp</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.address.present? %>
        <li>
          <a href="javascript:;" class="item" data-toggle="modal" data-target="#dialog-address">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_address @profile.address %></div>
              <span class="text-muted">mapa</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.delivery.present? %>
        <li>
          <a href="javascript:;" class="item" data-toggle="modal" data-target="#dialog-delivery">
            <div class="icon-box">
              <ion-icon name="bicycle-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_delivery_mode @profile.delivery %></div>
              <span class="text-muted">locais de entrega</span>
            </div>
          </a>
        </li>
        <% end %>
        <li>
          <a href="javascript:;" class="item" data-toggle="modal" data-target="#dialog-horarios">
            <div class="icon-box">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="in">
              <div>Aberto hoje - 08h às 20h</div>
              <span class="text-muted">ver horários</span>
            </div>
          </a>
        </li>
        <% if @profile.instagram_account.present? %>
        <li>
          <a href="<%= "https://www.instagram.com/#{@profile.instagram_account.username}" %>" target="_system" class="item" rel="nofollow" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:instagram_click] %>);">
            <div class="icon-box">
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <div class="in">
              <div><%= "@#{@profile.instagram_account.username}" %></div>
              <span class="text-muted">instagram</span>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.website.present? %>
        <li>
          <a href="<%= mask_url @profile.website %>" target="_blank" class="item" rel="nofollow" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:website_click] %>);">
            <div class="icon-box">
              <ion-icon name="globe-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= @profile.website %></div>
              <span class="text-muted">website</span>
            </div>
          </a>
        </li>
        <% end %>
        <!-- <li>
          <a href="javascript:;" onclick="toastbox('toast-salvar', 3000);" class="item" onclick="trackProfile(<%#= @profile.id %>, <%#= Statistic.events[:salvar_click] %>);">
            <div class="icon-box">
              <ion-icon name="bookmark-outline"></ion-icon>
            </div>
            <div class="in">
              <div>Salvar na minha lista</div>
            </div>
          </a>
        </li> -->
      </ul>
    </div>


    <div class="section full mt-3 bg-white">
      <div class="wide-block transparent p-0">
        <ul class="nav nav-tabs lined iconed" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
              <ion-icon name="camera-outline"></ion-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
              <ion-icon name="bar-chart-outline"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <!-- tab content -->
    <div class="section full mb-2">
      <div class="tab-content">

        <!-- TAB1: fotos -->
        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
          <div class="mt-2 pr-2 pl-2">
            <div class="row">
              <% @instagram_scrap[:pictures].each do |picture| %>
              <div class="col-4 mb-2">
                <a href="<%= picture[:original] %>" target="_system" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:foto_click] %>);">
                  <img src="<%= picture[:thumbnail] %>" alt="image" class="imaged w-100">
                </a>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- * TAB1 -->


        <!-- TAB2: estatísticas -->
        <div class="tab-pane fade" id="tab3" role="tabpanel">
          <ul class="listview image-listview text flush transparent pt-1">
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Visitas no perfil</div>
                  <span class="text-muted"><%= Statistic.where(profile: @profile).perfil_view.count %></span>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Fotos visualizadas</div>
                  <span class="text-muted"><%= Statistic.where(profile: @profile).foto_click.count %></span>
                </div>
              </div>
            </li>
            <!-- <li>
              <div class="item">
                <div class="in">
                  <div class="small">Salvo em listas</div>
                  <span class="text-muted">12</span>
                </div>
              </div>
            </li> -->
            <% if @profile.whatsapp.present? %>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Cliques no Telefone</div>
                  <span class="text-muted"><%= Statistic.where(profile: @profile).phone_click.count %></span>
                </div>
              </div>
            </li>
            <% end %>
            <% if @profile.instagram_account.present? %>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Cliques no Instagram</div>
                  <span class="text-muted"><%= Statistic.where(profile: @profile).instagram_click.count %></span>
                </div>
              </div>
            </li>
            <% end %>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Compartilhamentos</div>
                  <span class="text-muted"><%= Statistic.where(profile: @profile).compartilhar_click.count %></span>
                </div>
              </div>
            </li>
            <% if @profile.website.present? %>
            <li>
              <div class="item">
                <div class="in">
                  <div class="small">Cliques no link</div>
                  <span class="text-muted"><%= Statistic.where(profile: @profile).link_click.count %></span>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <!-- * TAB2 -->
      </div>
    </div>
    <!-- * tab content -->

  </div>
  <!-- * App Capsule -->


</body>
