<% @tag_title = "#{@profile.title} #{@profile.tagline != @profile.title ? " - "+@profile.tagline : ""} | #{@profile.sub_categ.name} em #{@profile.address.present? ? @profile.address.bairro.name+', ' : ''}Ubatuba" %>
<% @tag_description = "Explore pequenos negócios com o charme de Ubatuba - #CompreDoPequeno" %>
<%
  _signed_in = signed_in?
  _is_current_user = is_current_user? @profile.user
%>

<body>
  <%= render "app_components/header", classes: "bg-primary text-light flat", left_button: :back, right_buttons: [:share_profile, :options] %>
  <%= render("dialog_phone", profile: @profile) if @profile.whatsapp.present? || @profile.phone_secondary.present? %>
  <%= render("dialog_address", address: @profile.address) if @profile.address.present? %>
  <%= render("dialog_horarios", profile: @profile) if @profile.has_set_opening_hours? %>
  <%= render("dialog_avatar", image_src: image_path(@profile.avatar)) %>
  <%= render("action_sheet_statistics", profile: @profile) if _is_current_user %>
  <%= render("app_components/signin_required") unless _signed_in %>
  <%= render("app_components/toast_notification", id: "toast-bookmark", text_id: "toast-text-save", color: "dark-transparent") %>


  <!-- App Capsule -->
  <div id="appCapsule" class="mt-3 mb-5">

    <!-- Bio -->
    <div class="section mb-1">
      <div class="profile-head">
        <div class="avatar">
          <a href="#" onclick="mp_track('<%= MixPanel::PROFILE_AVATAR_CLICK %>');" data-toggle="modal" data-target="#dialog-avatar">
            <%= image_tag @profile.avatar, class: "imaged w64 rounded", id:"profile-avatar" %>
          </a>
        </div>
        <div class="in">
          <h3 class="name">
            <%= @profile.title %>
            <%= verified_badge_for @profile %>
          </h3>
          <h5 class="subtext"><%= @profile.tagline %></h5>
        </div>
      </div>
    </div>

    <div class="section mt-1">
    <%= render "app_components/breadcrumb_profile", profile: @profile %>
    </div>

    <% if @profile.bio.present? %>
    <div class="section mt-1">
      <div class="profile-info">
        <div class="bio">
          <%= add_breaklines(remove_emojis @profile.bio) %>
        </div>
      </div>
    </div>
    <% end %>
    <!-- * Bio -->


    <!-- Call to Actions -->
    <div class="section mt-2">
      <div class="row">
      <!-- Profile Owner -->
      <% if _is_current_user %>
        <div class="col-6">
          <a href="<%= edit_profile_path  @profile.username %>">
            <button type="button" class="btn btn-block btn-sm btn-primary weight-6">Editar perfil</button>
          </a>
        </div>
        <div class="col-6">
          <a href="#" data-toggle="modal" data-target="#action-sheet-statistics" onclick="mp_track('<%= MixPanel::PROFILE_STATISTICS_CLICK %>');">
            <button type="button" class="btn btn-block btn-sm btn-outline-primary weight-6">Estatísticas</button>
          </a>
        </div>
      <!-- Visitor -->
      <% else %>
        <!-- WhatsApp / Phone -->
        <div class="col-6">
        <% if @profile.whatsapp.present? %>
          <a href="#" class="btn btn-whatsapp btn-sm btn-block weight-6" data-toggle="modal" data-target="#dialog-phone" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:phone_click] %>); mp_track('<%= MixPanel::PROFILE_WHATSAPP_CLICK %>')">
            <ion-icon name="logo-whatsapp" role="img" class="md hydrated"></ion-icon>WhatsApp
          </a>
        <% elsif @profile.phone_secondary.present? %>
          <a href="#" class="btn btn-primary btn-sm btn-block weight-6" data-toggle="modal" data-target="#dialog-phone" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:phone_click] %>); mp_track('<%= MixPanel::PROFILE_PHONE_CLICK %>')">
            <ion-icon name="call-outline" role="img" class="md hydrated"></ion-icon>Telefone
          </a>
        <% end %>
        </div>
        <!-- Salvar -->
        <div class="col-6">
          <% if _signed_in %>
          <% bookmarked = current_user.bookmarked? @profile %>
          <a href="#" id="btn-remove-bookmark" class="btn btn-outline-primary btn-sm btn-block weight-6 <%= bookmarked ? '' : 'hidden' %>" onclick="removeBookmark(<%= @profile.id %>);">
            <ion-icon name="bookmark" role="img" class="md hydrated"></ion-icon>
            Adicionado
          </a>
          <a href="#" id="btn-save-bookmark" class="btn btn-outline-primary btn-sm btn-block weight-6 mt-0 <%= bookmarked ? 'hidden' : '' %>" onclick="saveBookmark(<%= @profile.id %>); mp_track('<%= MixPanel::PROFILE_BOOKMARK_CLICK %>');">
            <ion-icon name="add-circle" role="img" class="md hydrated"></ion-icon>
            Minha lista
          </a>
          <% else %>
          <a href="#" class="btn btn-outline-primary btn-sm btn-block weight-6" data-toggle="modal" data-target="#dialog-signin-required" onclick="mp_track('<%= MixPanel::PROFILE_BOOKMARK_CLICK %>');">
            <ion-icon name="add-circle-outline" role="img" class="md hydrated"></ion-icon>
            Minha lista
          </a>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <!-- * Call To Actions -->


    <!-- Link List -->
    <div class="section full mt-3">
      <ul class="listview listview-sm image-listview">
        <% if @profile.has_set_opening_hours? %>
        <li>
          <a href="#" class="item" data-toggle="modal" data-target="#dialog-horarios" onclick="mp_track('<%= MixPanel::PROFILE_OPENING_HOURS_CLICK %>');">
            <div class="icon-box">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_opening_hours @profile %></div>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.address.present? %>
        <li>
        <a href="#" class="item" data-toggle="modal" data-target="#dialog-address" onclick="mp_track('<%= MixPanel::PROFILE_ADDRESS_CLICK %>');">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= humanize_address @profile.address %></div>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.instagram_account.present? %>
        <li>
          <a href="<%= "https://www.instagram.com/#{@profile.instagram_account.username}" %>" target="_system" class="item" rel="noopener" onclick="trackProfile(<%= @profile.id %>, <%= Statistic.events[:instagram_click] %>); mp_track('<%= MixPanel::PROFILE_INSTAGRAM_CLICK %>');">
            <div class="icon-box">
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <div class="in">
              <div><%= "@#{@profile.instagram_account.username}" %></div>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.website.present? %>
        <li>
          <a href="<%= mask_url @profile.website %>" target="_blank" class="item" rel="nofollow">
            <div class="icon-box">
              <ion-icon name="link-outline"></ion-icon>
            </div>
            <div class="in">
              <div><%= unmask_url @profile.website %></div>
            </div>
          </a>
        </li>
        <% end %>
        <% if current_admin? %>
        <li>
          <a href="<%= edit_profile_path(id: @profile.id) %>" class="item">
            <div class="icon-box">
              <ion-icon name="key-outline"></ion-icon>
            </div>
            <div class="in">
              <div class="text-primary">Editar como administrador</div>
            </div>
          </a>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- Photos -->
    <div class="section full mt-3 pt-2 pb-2 pr-2 pl-2 bg-white">
      <div class="row">
        <div id="instagram-feed" class="instagram_feed" onclick="mp_track('<%= MixPanel::PROFILE_PHOTO_CLICK %>');"></div>
      </div>
    </div>
    <!-- * Photos -->


    <!-- Claim -->
    <% unless @profile.reivindicado? %>
    <div class="section mt-4">
      <div class="card text-center">
        <div class="card-body pb-4">
          <%= image_tag "illustration-claim.png", class: "imaged w100" %>
          <h5 class="card-title mt-2">
            Este é o seu negócio?
          </h5>
          <p class="card-text">
            Reivindique o perfil para atualizar as informações, ver estatísticas de acesso e muito mais. É grátis, lógico :)
          </p>
          <a href="<%= new_claim_path @profile.username %>" class="btn btn-block btn-primary mt-2">
            Reivindicar perfil
          </a>
        </div>
      </div>
    </div>
    <% end %>
    <!-- * Claim -->


  </div>
  <!-- * App Capsule -->


</body>

<script type="text/javascript">
  (function($){
    $(window).on('load', function(){
      mp_track("<%= MixPanel::PROFILE_VIEW %>", {
        "param_user_id": "<%= @profile.id %>",
        "param_username": "<%= @profile.username %>"
      });

      showInstagramFeed('<%= @profile.instagram_account.username %>', <%= @profile.id %>, '#instagram-feed');
    });
  })(jQuery);
</script>
