<body>

  <%= render 'app_components/loader' %>
  <%= render 'app_components/menu_bottom' %>
  <%= render 'app_components/header' %>


  <!-- App Capsule -->
  <div id="appCapsule" class="mb-5">

    <!-- Section Busca -->
    <div class="section full mt-1 mb-3">
      <div class="section">
        <form class="search-form">
          <div class="form-group boxed">
            <div class="input-wrapper">
              <input type="text" class="form-control" style="border-radius:100px; border-color:#cecece; font-size:13px;" placeholder="O que procura?">
              <i class="clear-input">
                <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
              </i>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Section Curadoria -->
    <div class="header-large-title">
      <h1 class="title">Explore</h1>
      <h4 class="subtitle">uma seleção feita especialmente pra você</h4>
    </div>

    <div class="carousel-multiple owl-carousel owl-theme mt-3">
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Café da manhã</h4>
            </div>
          </div>
        </div>
      </a>
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Produtos ecológicos</h4>
            </div>
          </div>
        </div>
      </a>
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Lanches rápidos</h4>
            </div>
          </div>
        </div>
      </a>
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Artistas locais</h4>
            </div>
          </div>
        </div>
      </a>
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Pães artesanais</h4>
            </div>
          </div>
        </div>
      </a>
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Crochê</h4>
            </div>
          </div>
        </div>
      </a>
      <a href="selecao.html">
        <div class="item">
          <div class="card">
            <img src="https://picsum.photos/200/155" class="card-img-top" alt="image">
            <div class="card-body pt-2">
              <h4 class="mb-0">Refeições até R$ 20</h4>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- Section Descubra -->
    <div class="header-large-title mt-5">
      <h1 class="title">Encontre</h1>
      <h3 class="subtitle">pequenos negócios por categoria</h3>
    </div>

    <div class="section full">
      <div class="wide-block mt-2">
        <ul class="listview full image-listview" style="border:none; margin-left:-16px;">
          <li class="multi-level">
            <!-- Alimentação -->
            <a href="#" class="item">
              <div class="icon-box">
                <ion-icon name="fast-food-outline"></ion-icon>
              </div>
              <div class="in">Alimentação
                <span class="text-muted">68</span>
              </div>
            </a>
            <ul class="listview link-listview">
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Refeições e Mamitex</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Doces e bolos</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Burgers e lanches</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Vegetarianos</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Comida japonesa</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Pães artesanais</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Pizzas e esfirras</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Cafeterias</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Sorvetes e açaí</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Bebidas</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Moda -->
          <li class="multi-level">
            <a href="#" class="item">
              <div class="icon-box">
                <ion-icon name="cut-outline"></ion-icon>
              </div>
              <div class="in">Moda
                <span class="text-muted">25</span>
              </div>
            </a>
            <ul class="listview link-listview">
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Feminina</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Praia</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Brechós</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Jóias</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Surfshops</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Óticas</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Artesanato -->
          <li class="multi-level">
            <a href="#" class="item">
              <div class="icon-box">
                <ion-icon name="color-palette-outline"></ion-icon>
              </div>
              <div class="in">Feito à mão
                <span class="text-muted">13</span>
              </div>
            </a>
            <ul class="listview link-listview">
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Artesanato</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Jóias</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Ecológicos</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Crochê</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Ecológicos -->
          <li class="multi-level">
            <a href="#" class="item">
              <div class="icon-box">
                <ion-icon name="leaf-outline"></ion-icon>
              </div>
              <div class="in">Ecológicos
                <span class="text-muted">7</span>
              </div>
            </a>
            <ul class="listview link-listview">
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Cosméticos</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Alimentação</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Artesanato</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Produtos de limpeza</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Pets -->
          <li class="multi-level">
            <a href="#" class="item">
              <div class="icon-box">
                <ion-icon name="paw-outline"></ion-icon>
              </div>
              <div class="in">Pets
                <span class="text-muted">7</span>
              </div>
            </a>
            <ul class="listview link-listview">
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Petshops</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Hospedagem</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Banho e tosa</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Clínicas veterinárias</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Outras -->
          <li class="multi-level">
            <a href="#" class="item">
              <div class="icon-box">
                <ion-icon name="color-palette-outline"></ion-icon>
              </div>
              <div class="in">Outras
                <span class="text-muted">4</span>
              </div>
            </a>
            <ul class="listview link-listview">
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Papelarias</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Presentes</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Reforma e construção</div>
                </a>
              </li>
              <li>
                <a href="categoria.html" class="item">
                  <div class="in">Maquiagem</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>

  </div>
  <!-- * App Capsule -->


  <!-- ///////////// Js Files ////////////////////  -->
  <!-- Jquery -->
  <%= javascript_include_tag 'jquery-3.4.1.min.js', 'data-turbolinks-track': 'reload' %>
  <!-- Bootstrap-->
  <script src="assets/popper.min.js"></script>
  <script src="assets/bootstrap.min.js"></script>
  <!-- Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  <!-- Owl Carousel -->
  <%= javascript_include_tag 'owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>
  <!-- Base Js File -->
  <script src="assets/base.js"></script>


</body>

</html>