<div class="section full">
  <div class="wide-block mt-2">
    <ul class="listview full image-listview" style="border:none; margin-left:-16px;">
      <% categs.each do |categ| %>
      <li class="multi-level">
        <a href="#" id="list-<%= categ.alias %>" class="item">
          <div class="icon-box">
            <ion-icon name="<%= categ.icon || 'reader-outline' %>"></ion-icon>
          </div>
          <div class="in">
            <%= categ.name %>
          </div>
        </a>
        <% if categ.sub_categs.present? %>
        <ul class="listview listview-md link-listview">
        <% categ.sub_categs.order(:name).each do |sub_categ| %>
          <% count = sub_categ.profile_count %>
          <% if count > 0 %>
          <li class="click-animated">
            <a href="<%= catalogo_categoria_path sub_categ.alias %>" class="item vibrate">
              <div class="in">
                <%= sub_categ.name %>
                <span class="text-muted"><%= count %></span>
              </div>
            </a>
          </li>
          <% end %> <!-- *if -->
        <% end %> <!-- *sub_categs -->
        </ul>
        <% end %> <!-- *if present? -->
      </li>
      <% end %> <!-- *categs -->
    </ul>
  </div>
</div>