<% @tag_title = "Pequenos Neg칩cios em #{@bairro.name}, Ubatuba | ubatubatem.app" %>
<% @tag_description = "Explore o bairro #{@bairro.name}. Somos um cat치logo volunt치rio de Pequenos Neg칩cios de Ubatuba - #CompreDoPequeno" %>
<%
  result_qty = @profiles.length
  filtro_categoria = params[:categoria]
%>

<body>

  <%= render "app_components/header", classes: "bg-primary text-light flat", left_button: :back, right_buttons: [:options], back_link: "#{catalogo_path}?tab=bairros&list=#{@bairro.regiao}" %>

  <!-- App Capsule -->
  <div id="appCapsule" class="mt-3 mb-5">

    <!-- Search Results -->
    <% if result_qty > 0 %>

    <div class="header-large-title">
      <h1 class="title">
        <%= "#{@bairro.name} (#{result_qty})" %>
      </h1>
      <!-- Filter -->
      <h4 class="subtitle">
        <% if filtro_categoria.present? %>
        <%= @profiles.first.sub_categ.name %> -
        <a href="<%= catalogo_bairro_path %>" class="text-primary">
          ver tudo
        </a>
        <% else %>
        <a href="#" class="dropdown-toggle text-primary" data-toggle="dropdown">
          Filtrar por categoria
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% @filtros.each do |filtro| %>
          <a href="<%= catalogo_bairro_path categoria: filtro[1] %>" class="dropdown-item">
            <%= filtro[0] %>
          </a>
          <% end %>
        </div>
        <% end %>
      </h4>
      <!-- * Filter -->
    </div>

    <ul class="listview image-listview media search-result mt-2 mb-2">
      <% @profiles.each do |profile| %>
        <%= render 'catalogo/search_result', profile: profile %>
      <% end %>
    </ul>
    <%= will_paginate @profiles, renderer: WillPaginateInfinite::InfinitePagination %>

    <% end %>

  </div>
  <!-- * App Capsule -->

</body>

<script type="text/javascript">
$(document).ready(function () {
  mp_track("<%= MixPanel::CATALOGO_BAIRRO_VIEW %>", {
    "param_bairro": "<%= @bairro.name %>"
  });
});
</script>