<body>

  <%= render "app_components/header", classes: "bg-primary text-light flat", left_button: :back, right_buttons: [:options] %>

  <!-- App Capsule -->
  <div id="appCapsule" class="mb-5">

    <!-- Section Busca -->
    <div class="section full pb-1 mb-3 bg-primary">
      <div class="section">
        <%= render "app_components/search_form", query: @query, classes: "border-none", size: "sm" %>
      </div>
    </div>

    <!-- Sub Categ Results -->
    <% if @sub_categs.count > 0 %>
    <div class="section mt-2">
      <% @sub_categs.each do |sub_categ| %>
        <% if sub_categ.profile_count > 0 %>
          <a href="<%= catalogo_categoria_path sub_categ.alias %>" class="chip bg-white chip-outline mb-1">
            <span class="chip-label"><%= "#{sub_categ.name.downcase}" %></span>
          </a>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <!-- * Sub Categ Results -->

    <!-- Profile Results -->
    <% if @profiles.count > 0 %>
    <div class="listview-title mt-1">
      <div><%= pluralize(@profiles.count, "resultado", "resultados") %> para <strong class="text-primary">"<%= @query %>"</strong></div>
    </div>
    <ul class="listview image-listview media search-result mt-1 mb-2">
      <% @profiles.each do |profile| %>
        <%= render 'catalogo/search_result', profile: profile %>
      <% end %>
    </ul>
    <%= will_paginate @profiles, page_links: false, renderer: WillPaginateInfinite::InfinitePagination %>

    <% else %>
    <div class="section align-center mt-2">
      <% if @query.present? %>
      <div class="mb-2">Nenhum resultado encontrado para <strong class="text-primary">"<%= @query %>"</strong></div>
      <% end %>
      <img src="https://mobilekit.bragherstudio.com/view6/assets/img/sample/photo/vector1.png" alt="alt" class="imaged square w240 align-center">
      <a href="<%= catalogo_path %>" class="btn btn-primary btn-md btn-block mt-3">Ver Catálogo</a>
    </div>
    <% end %>
    <!-- * Profile Results -->

  </div>
  <!-- * App Capsule -->

</body>