<%
  sub_categ = profile.sub_categ
  bairro = profile.bairro
%>
<nav class="breadcrumb-sm" aria-label="breadcrumb">
  <a href="<%= catalogo_path %>">Ubatuba</a>
  <% if bairro.present? %>
  <span>></span>
  <a href="<%= catalogo_bairro_path bairro.name.parameterize %>"><%= bairro.name %></a>
  <% end %>
  <% if sub_categ.ativo? %>
    <span>></span>
    <a href="<%= catalogo_categoria_path sub_categ.alias %>"><%= sub_categ.name %></a>
  <% end %>
</nav>