<%
  _signed_in = signed_in?
  _current_user = current_user
%>

<!-- App Bottom Menu -->
<%= render "app_components/search_header" %>

<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item vibrate <%= current_page?(root_path) ? 'active' : '' %>">
    <div class="col">
      <ion-icon name="home-outline"></ion-icon>
      <strong>Início</strong>
    </div>
  </a>

  <a href="<%= catalogo_path %>" class="item vibrate <%= current_page?(catalogo_path) || request.path_info.include?('/categoria/') || request.path_info.include?('/bairro/') ? 'active' : '' %>">
    <div class="col">
      <ion-icon name="layers-outline"></ion-icon>
      <strong>Catálogo</strong>
      <% if _signed_in %>
        <% new_profiles_count = _current_user.new_profiles_count %>
        <% if new_profiles_count > 0 %>
        <span class="badge badge-danger"><%= new_profiles_count %></span>
        <% end %>
      <% end %>
    </div>
  </a>

  <a href="#" class="item vibrate toggle-searchbox <%= current_page?(buscar_path) ? 'active' : '' %>">
    <div class="col">
        <ion-icon name="search-outline" role="img" class="md hydrated"></ion-icon>
        <strong>Buscar</strong>
    </div>
  </a>

  <!-- Signed in -->
  <% if _signed_in %>
  <a href="<%= bookmarks_path %>" class="item vibrate <%= current_page?(bookmarks_path) ? 'active' : '' %>">
    <div class="col">
      <ion-icon name="bookmark-outline"></ion-icon>
      <strong>Salvos</strong>
    </div>
  </a>
  <!-- Business -->
  <% if _current_user.is_business %>
  <% active = current_page?(profile_path _current_user.profile.username) || current_page?(edit_profile_path _current_user.profile) ? "active" : "" %>
  <a href="<%= _current_user.profile.profile_path %>" class="item vibrate <%= active %>">
    <div class="col">
      <ion-icon name="person-outline"></ion-icon>
      <strong>Meu perfil</strong>
    </div>
  </a>
  <!-- Consumer -->
  <% else %>
  <a href="<%= edit_user_path %>" class="item vibrate <%= active %>">
    <div class="col">
      <ion-icon name="settings-outline"></ion-icon>
      <strong>Minha conta</strong>
    </div>
  </a>
  <% end %>
  <!-- Not signed in -->
  <% else %>
  <a href="<%= signin_path %>" class="item vibrate <%= current_page?(signin_path) ? 'active' : '' %>">
    <div class="col">
      <ion-icon name="person-add-outline"></ion-icon>
      <strong>Login</strong>
    </div>
  </a>
  <% end %>
</div>
<!-- * App Bottom Menu -->