<!-- App Bottom Menu -->
<%= render "app_components/search_header" %>

<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item vibrate">
    <div class="col">
      <ion-icon name="home-outline"></ion-icon>
      <strong>Início</strong>
    </div>
  </a>
  <a href="#" class="item toggle-searchbox vibrate">
    <div class="col">
      <ion-icon name="search-outline"></ion-icon>
      <strong>Buscar</strong>
    </div>
  </a>
  <a href="#" class="item vibrate" onclick="alert('Aqui a galera vai poder adicionar novos negócios ao APP');">
    <div class="col">
      <div class="action-button">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
  </a>
  <a href="<%= categorias_path %>" class="item vibrate">
    <div class="col">
      <ion-icon name="funnel-outline"></ion-icon>
      <strong>Categorias</strong>
    </div>
  </a>
  <% if signed_in? %>
  <a href="<%= profile_path current_user.profile %>" class="item vibrate">
    <div class="col">
      <ion-icon name="person-outline"></ion-icon>
      <strong>Meu Perfil</strong>
    </div>
  </a>
  <% else %>
  <a href="<%= new_session_path %>" class="item vibrate">
    <div class="col">
      <ion-icon name="person-add-outline"></ion-icon>
      <strong>Login</strong>
    </div>
  </a>
  <% end %>
</div>
<!-- * App Bottom Menu -->