<%
  _title = defined?(@tag_title) ? @tag_title : "Ubatuba Tem - Pequenos Negócios em Ubatuba"
  _description = defined?(@tag_description) ? @tag_description : "Catálogo colaborativo de pequenos comerciantes, produtores e artistas de Ubatuba"
  _theme_color = defined?(theme_color) ? theme_color : "#4da069"
  _keywords = defined?(keywords) ? keywords : "ubatuba, comércio, restaurantes, lojas"
  _og_properties = defined?(og_properties) ? og_properties : {
    image: "icon/512x512.png",
    type: "image/png",
    width: "512",
    height: "512",
    locale: "pt_BR",
    url: root_url,
    title: _title,
    description: _description
  }
  _noindex = defined?(@tag_noindex) ? true : false
%>

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/192x192.png">
    <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>" sizes="32x32">
    <title><%= _title %></title>
    <%= tag :meta, name: "theme-color", content: _theme_color %>
    <%= tag :meta, name: "description", content: _description %>
    <%= tag :meta, name: "keywords", content: _keywords %>
    <%= tag :meta, property: "og:image", content: _og_properties[:image] %>
    <%= tag :meta, property: "og:image:type", content: _og_properties[:type] %>
    <%= tag :meta, property: "og:image:width", content: _og_properties[:width] %>
    <%= tag :meta, property: "og:image:height", content: _og_properties[:height] %>
    <%= tag :meta, property: "og:description", content: _og_properties[:description] %>
    <%= tag :meta, property: "og:url", content: _og_properties[:url] %>
    <%= tag :meta, property: "og:title", content: _og_properties[:title] %>
    <%= tag :meta, property: "og:locale", content: _og_properties[:locale] %>
    <link rel="manifest" href="/__manifest.json">

    <% if _noindex %>
      <%= tag :meta, name: "robots", content: "noindex" %>
      <%= tag :meta, name: "googlebot", content: "noindex" %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render "app_components/loader" %>
  <%= render 'app_components/menu_bottom' %>

  <%= yield %>

  <% if flash.any? %>
    <%= render("app_components/toast_notification", id: "toast-flash", text: flash.notice || flash.alert, color: flash.alert ? "danger-transparent" : "dark-transparent") %>
    <script type="text/javascript">
      $(document).ready(function () {
        toastbox("toast-flash", 3000);
      });
    </script>
  <% end %>

  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

</html>